<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ControlcBDEntities" connectionString="metadata=res://*/BL.ModeloSistema.csdl|res://*/BL.ModeloSistema.ssdl|res://*/BL.ModeloSistema.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CROMERO\SQLEXPRESS;initial catalog=bdbasic;persist security info=True;user id=adminservertaxi;password=adm1ns3rv3rtaxi*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="ControlcBDEntities" connectionString="metadata=res://*/ModeloSistema.csdl|res://*/ModeloSistema.ssdl|res://*/ModeloSistema.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CROMERO\SQLEXPRESS;initial catalog=bdbasic;user id=adminservertaxi;password=adm1ns3rv3rtaxi*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>